$color_blanco: white;
$color_negro: black;
$color_transparent: transparent;
$color_brown: brown;
$color_lightsteelblue: lightsteelblue;
$color_indianred: indianred;
$color_burlywood: burlywood;
$color_texto-parrafos: #6c6c6c;
$color_items: #333;
$color_bg_header: #f6f5f3;
$color_bg_input: rgb(219 219 219 / 32%);
$color_bg_encabezado: #ffffff82;
$color_borde: #ebebeb;