$color_blanco: white;
$color_negro: black;
$color_transparent: transparent;
$color_brown: brown;
$color_lightsteelblue: lightsteelblue;
$color_indianred: indianred;
$color_burlywood: burlywood;
$color_texto-parrafos: #6c6c6c;
$color_items: #333;
$color_12: rgb(65, 65, 65);
$color_bg_header: #f6f5f3;
$color_bg_input: rgba(219, 219, 219, .1);
$background-color_8: #ffffff82;
$border-color_3: #ebebeb;
$border-color_4: #c4d4c4;