@mixin banner($banner_padding) {
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    align-self: center;
    text-align: left;
    padding: $banner_padding;
}


@mixin color-bg-border($bg) {
    color: $color_blanco;
    background-color: $bg;
    border-color: $color_transparent;
}