@media (max-width: 576px) {
    header {
        padding: 0 2px;
        align-items: center;
    }

    .quienes-somos {
        br {
            content: "";
            display: block;
            margin: 1rem 0;
        }
    }

    p {
        margin-bottom: 0px;
        line-height: 24px;
    }

    h1 {
        margin-top: 0px;
    }

    h2 {
        margin-top: 0px;
        font-size: 1.2rem;
        text-align: center;
        line-height: 0;
    }

    h3 {
        margin-top: 0px;
        font-size: 1rem;
        text-align: center;
    }

    nav {
        height: 100%;
        max-width: 1200px;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
            display: block;
        }

        label {
            display: block;
        }
    }

    footer {
        a {
            margin-left: 2%;
            margin-right: 2%;
        }
    }

    .top-text {
        letter-spacing: 0px;
        font-size: 0.75rem;
    }

    .newsletter-section {
        padding-top: 0px;
    }

    .mobile-section {
        display: block;
    }

    .carousel-caption {
        position: absolute;
        right: 10%;
        bottom: 0.25rem;
        left: 10%;
        color: $color_blanco;
        text-align: center;
    }

    .row {
        --bs-gutter-x: 0rem;
    }

    .bar-btn {
        font-size: 1.5rem;
        color: $color_texto-parrafos;
        cursor: pointer;
        width: 2rem;
        text-align: center;
        padding: 0.7rem 0.8rem 0 0.8rem;
    }

    .header__nav-menu {
        position: fixed;
        top: 3.2rem;
        background: #f6f5f3;
        transition: 0.5s;
        display: block;
        left: -100vh;

        li {
            display: block;
            line-height: 1.7rem;
            margin: 1.5rem 0 0.5rem 0;
            transition: all 0.5s;

            a {
                color: $color_negro;
                font-size: 1.2rem;
                text-transform: uppercase;
                font-weight: 600;

                &:hover {
                    color: $color_indianred;
                    transition: 0.3s;
                    background-color: $color_transparent !important;
                    border-radius: 0;
                }

                i {
                    display: inline-block;
                }
            }

            a.header__pagina-activa {
                color: $color_indianred;
                transition: 0.3s;
                background-color: $color_transparent !important;
                border-radius: 0;
            }
        }
    }

    #header__check {
        display: none;

        &:checked~.header__nav-menu {
            display: block;
            left: 0%;
            transition: all 0.5s;
            padding-left: 0;
        }

        &:checked~.bar-btn {
            i {
                &::before {
                    content: "\f00d";
                    animation: slideIn 1.5s ease-in-out forwards;
                }
            }
        }
    }

    .ocultar-mobile {
        display: none;
    }

    .flyer {
        text-align: center;
        margin: 0 0 -1rem 0;
        font-size: 1.3rem;
        background-color: $color_burlywood;
        font-weight: bold;
    }

    .news-suscribir {
        width: 90%;
    }

    .sobre-icon {
        &:before {
            font-size: 45%;
            padding: 0.8rem 0 0 0.8rem;
        }
    }

    .header__nav-user {
        div {
            display: none;
        }

        border-left: none;
    }

    #header__logo-mobile {
        display: block;
    }

    .header__links {
        display: contents;
    }

    .imagen-carrito {
        width: 25px;
    }

    .encabezado-grande {
        font-size: 28px;
        padding: 6px;
        line-height: 2.2;
    }

    .contenedor-tienda {
        padding: 0;
        max-width: 100%;
        a {
            img {
                max-height: 15rem;
            }
        }

    }

    .items-bottom {
        max-width: 170px;
        font-size: 0.95em;
    }

    .btn-agregar-carrito {
        padding: 0.1em 1.25em;
    }
    

    .contenedor-contacto {
        flex-direction: column;
        margin-top: 0rem;

        iframe {
            width: 100%;
        }
    }

    .contacto__contenedor-form {
        width: -webkit-fill-available;
        padding-left: 0;
        text-align: justify;
        padding-right: 0;
    }

    .form-contacto {
        width: 100%;
    }

    .back-btn {
        font-size: large !important;
    }

    .contenedor__back-btn {
        margin-left: 0.1rem;
    }


    .fa-mio {
        margin: 0 1rem 0 0;
        height: 28px;
        width: 28px;
        text-align: center;
    }

    .minibar-top {
        display: none;
    }

    #header__logo-pc {
        display: none;
    }

    .caja-newsletter {
        width: 100%;
        margin: 0;
        padding: 0;

        h1 {
            .suscribite {
                display: block;
            }

            span {
                display: none;
            }
        }
    }

    .suscribir-button {
        width: 90%;
    }

    .mobile-banner-img {
        width: -webkit-fill-available;
    }

    .mobile-btn-container {
        position: relative;
        margin: 1rem 0 1rem 0;

        a {
            position: absolute;
            background-color: $color_brown;
            color: $color_blanco;
            text-transform: uppercase;
            padding: 0.4em 4em;
            text-decoration: none;
            top: 60%;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: max-content;
            height: min-content;
            font-size: 0.85em;
        }
    }

}