@import '../base/maps';

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

body {
    color: $color_negro;
    background-color: $color_blanco;
    font-size: map-get($map: $texto, $key: 'xs');
    font-family: $font-body;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
     overflow-x: hidden;
}

h1 {
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 0px;
    font-size: 38px;
    line-height: map-get($map: $texto, $key: 'xxl');
    font-size: 2em;
}

h2 {
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: map-get($map: $texto, $key: 'md');
    font-size: 32px;
    line-height: 36px;
    text-align: center;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
    color: $color_texto-parrafos;
    text-align: justify;
    font-size: map-get($map: $texto, $key: 'xs');
}

div {
    nav {
        padding: 0px 0.2rem 0px 0px;
    }
}

li {
    padding: 0px 5px 0px 5px;

    a {
        color: $color_texto-parrafos;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 10px 10px;
        text-decoration: none;
        border-radius: 12px;

        &:hover {
            color: $color_blanco;
            background-color: $color_negro;
            filter: drop-shadow(2px 4px 6px black);
        }
    }
}