.form-contacto {
    color: $color_texto-parrafos;
    background-color: $background-color_6;
    background-position: 9px 57%;
    background-repeat: no-repeat;
    background-size: 20px;
    border-style: solid;
    border-color: $border-color_3;
    padding-left: 4px;
    font-size: 16px;
    line-height: 23px;
    width: 100%;
    resize: none;
}

.contacto__contenedor-form {
    width: -webkit-fill-available;
    padding-left: 2rem;
    text-align: justify;
    padding-right: 5rem;

    label {
        margin-top: 1rem;
        margin-bottom: 0;
    }
}
